.loading-wrapper {
  display: grid;
  place-items: center;
  min-height: 200px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

@media (max-width: 480px) {
  .pagination {
    gap: 0.25rem;
  }
  
  button {
    padding: 0.5rem;
    min-width: 2.5rem;
  }
}
